*{
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 0;
    background: #BBBBBB;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;  
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../assets/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

@media screen and (max-width: 480px) {
    
    .caixa, .produtos{
        width: auto;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caixa img {
        max-width: fit-content;
    }

    .caixa ul {
        padding: 10px 0 ;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-color: #088C19; */
        margin: 0;

    }

    .produtos li {
        /* display: inline-block; */
        width: 90%;
        /* background-color: #C78C19; */
        margin: 20px 0%;
        /* vertical-align: top; */
        /* margin: 0 1.5%; */
        /* padding: 30px 20px; */
        /* box-sizing: border-box; */
        /* border: 2px solid #000000; */
        /* border-radius: 10px; */
    }

    /* .lista-beneficios {
        width: 100%;
    } */
}